@font-face {
    font-family: 'Quicksand-Regular', sans-serif;
    src: url('../fonts/Quicksand-Regular.woff2') format("woff2"),
        url('../fonts/Quicksand-Regular.woff') format("woff"); 
    font-display: swap;
}
