html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
a {
  display: inline-block;
  text-decoration: none;
  color: $text;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: $ff-fg;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $text;
  background-color: $bg;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.contant {
  padding: 120px 0 120px;
}

button{
  @include border();
}
.input-text{
  display: block;
  width: 359px;
  border: 1px solid #e7e7e7;
  line-height: 48px;
  font-size: 16px;
  padding-left: 19px;
  padding-right: 20px;

}
.jq-selectbox__select {
  height: 42px;
  padding: 0px 82px 0px 19px;
  border: 1px solid #eceff2;
  border-bottom-color: none;
  border-radius: 3px;
  background: none;
  box-shadow: none;
  font: none;
  color: #555;
  text-shadow: none;
}
.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
  border-left: none;
  &::before {
    content: "\e874";
    font-family: "Linearicons-Free";
    position: absolute;
    top: 6px;
    right: 18px;
    font-size: 10px;
  }
}
.jq-selectbox__trigger-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: none;
  border-right: none;
  border-left: none;
}
.jq-selectbox__select:hover {
  background: none;
}
.jq-selectbox__select-text, .jq-selectbox__dropdown > ul {
  font-family: "Quicksand-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 42px;
}
.jq-selectbox__dropdown > ul >li{
  font-size: 15px;
  line-height: 15px;
}
.jq-selectbox__dropdown { 
  top: 40px !important;
}
.jq-selectbox li {
  padding: 15px 10px 15px;
}
// start_icons

.lnr-alarm,
.lnr-envelope,
.lnr-cart {
  color: #7e8fa1;
  font-size: 20px;
}
.lnr-envelope:before {
  position: relative;
  top: -3px;
}

.lnr-magnifier {
  font-size: 15px;
  color: #fff;
}

// end_icons
