html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $text;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Quicksand-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $text;
  background-color: $bg;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.contant {
  padding: 120px 0 120px;
} 
// start_icons

.lnr-alarm,
.lnr-envelope,
.lnr-cart {
  color: #7e8fa1;
  font-size: 20px;
}
.lnr-envelope:before {
  position: relative;
  top: -3px;
}

.lnr-magnifier {
  font-size: 15px;
  color: #fff;
}

// end_icons
