html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $text;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: $ff-fg;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $text; 
  background-color: $bg;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.contant {
  padding: 120px 0 120px;
  // margin-bottom: 30px;
}
// start_icons

.lnr-alarm, .lnr-envelope, .lnr-cart{
  color: #7e8fa1;
  font-size: 20px;
}
.lnr-envelope:before { 
  position: relative;
  top: -3px;
}

.lnr-magnifier{
font-size: 15px;
color: #fff;
} 

// end_icons
