@import "vars";
@import "global";
@import "fonts";

.button-link {
  padding: 15px 33px;
  background-color: $blue;
  color: #fff;
  border-radius: 50px;
  margin: 0 auto;
  max-width: 1170px;
}

// start_header

.header__top-contant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.header__top-btn {
  width: 140px;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  margin-left: auto;
  margin-right: 30px;
  padding: 6px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: $blue;
  border-radius: 20px;
}
.header__top-icons {
  margin: 0 8px 0 4px;
  span {
    margin-left: 14px;
    padding-right: 10px;
  }
}
.header__top-profil {
  display: flex;
  padding-left: 12px;
  margin-left: 10px;
  img {
    height: 60px;
  }
  span {
    display: block;
    font-family: $ff-r;
    font-weight: 400;
  }
}
.header__top-text {
  max-width: 100px;
  margin-left: 20px;
  font-family: $ff-fg;
  font-weight: 500;
  color: $black;
}
.money {
  color: $blue;
  font-size: 15px;
  line-height: 22px;
}
.header__bottom {
  padding: 17px 0;
  background-color: #fff;
}
.header__bottom-contant {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  ul {
    display: flex;
  }
  li + li {
    padding-left: 30px;
  }
  a {
    font-size: 15px;
    line-height: 42px;
    @include f500;
    text-transform: uppercase;
    color: $black;
  }
}
.search__inner-form {
  max-width: 360px;
  position: relative;
  input {
    display: block;
    width: 100%;
    height: 46px;
    border-radius: 50px;
    border: 1px solid $border;
    font-size: 15px;
    line-height: 30px;
    padding-left: 24px;
    padding-right: 80px;
    outline: none;
    &::placeholder {
      color: $grey;
    }
    &:hover {
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    }
  }
  button {
    position: absolute;
    border: none;
    background-color: $blue;
    width: 70px;
    height: 46px;
    right: 0;
    top: 0;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
  }
}

// end_header
// start_search
.search__top {
  background-color: $bg-blue;
  position: relative;
}
.search__contant {
  min-height: 724px;
  text-align: center;
  padding-top: 180px;
}
.search__title,
.search__title-bold,
.search__text {
  color: #f3f3f8;
  line-height: 70px;
}
.search__title {
  font-size: 60px;
}
.search__title-bold {
  font-size: 60px;
  @include f700;
}
.search__text {
  @include f500;
  font-size: 20px;
}

.btn-link {
  a {
    color: #fff;
    padding: 12.5px 30px;
    margin-top: 65px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    transition: all, 0.5s;
    & + a {
      margin-left: 30px;
    }
    &:hover {
      background-color: #fff;
      color: $blue;
    }
    &.active {
      background-color: #fff;
      color: $blue;
    }
  }
}
.search__bottom {
  background-color: #fff;
}
.search__box {
  position: relative;
  bottom: 66px;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -26px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 1080px;
    height: 135px;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -14px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 1110px;
    height: 135px;
    z-index: 3;
  }
}
.search__box-inner {
  position: relative;
  z-index: 10;
  padding: 40px;
  min-height: 135px;
  max-width: 1140px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  form {
    display: flex;
  }
  input {
    min-height: 53px;
    width: 613px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 4px 0 0 4px;
    padding: 0 28px;
    line-height: 42px;
    outline: none;
  }
  select {
    min-height: 53px;
    padding: 0 20px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 0 4px 4px 0;
    border-left: none;
    margin-right: 30px;
    color: $text;
  }
  button {
    color: #fff;
    padding: 0 65px;
    border-radius: 4px;
    background-color: $blue;
    min-height: 53px;
    border: 1px solid $blue;
    outline: none;
  }
}

// end_search

// start_info
.info {
  background-color: #fff;
}
.info__content {
  padding: 51px 0 120px;
}
.info__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.info__item {
  text-align: center;
  max-width: 360px;
  padding: 40px 30px;
  &-images {
    img {
      display: inline-block;
      min-height: 120px;
    }
  }
  &-title {
    font-size: 24px;
    color: #010101;
    margin: 30px 0;
  }
  &-text {
    margin-bottom: 10px;
  }
  &.active {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
}
// end_info

// start_products
.products__top-box {
  padding: 40px 30px 42px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__top,
.bottom-products__top {
  margin-bottom: 20px;
}
.products__title,
.all-products__title,
.bottom-products__title {
  font-size: 30px;
  color: #000;
}
.products__item-contant {
  display: flex;
  margin-top: 30px;
}
.products__item-img {
  img {
    height: 100%;
    max-width: 555px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.products__item-content {
  background-color: #fff;
  padding: 50px 50px 25px;
}
.products__item-title {
  font-size: 24px;
  @include f500;
  margin-bottom: 15px;
  color: #000;
}
.products__autor-box {
  margin-bottom: 35px;
  display: block;
}
.products__autor-box {
  display: flex;
}
.products__autor,
.products__cms {
  display: flex;
  align-items: center;
  max-width: 245px;
}
.products__autor {
  font-size: 15px;
  span {
    margin-left: 9px;
  }
}
.products__avatar,
.products__cms-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.products__avatar {
  height: 30px;
  min-width: 30px;
  color: #000;
}
.products__cms {
  color: #7347c1;
  span {
    margin-left: 9px;
  }
}
.products__cms-img {
  height: 16px;
  min-width: 16px;
  margin-left: 20px;
}
.products__item-text {
  margin-bottom: 30px;
}
.products__item-categories {
  a + a {
    margin-left: 7px;
  }
  padding-bottom: 44px;
}
.products__item-category {
  padding: 0 14px;
  color: #868c96;
  font-size: 15px;
  background-color: #f1f3f6;
  border-radius: 25px;
  &:hover {
    background-color: $blue;
    color: #fff;
  }
}
.products__item-bottom {
  padding-top: 23px;
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__item-price {
  font-size: 15px;
  @include f500;
  color: #fff;
  padding: 0 18px;
  margin-right: 19px;
  background-color: $blue;
  border-radius: 25px;
}
.products__item-like,
.products__item-shop {
  padding-left: 26px;
  position: relative;
  &::before {
    content: "";
    font-family: "Linearicons-Free";
    position: absolute;
    font-size: 15px;
    left: 0;
  }
}
.products__item-like {
  &::before {
    content: "\e813";
    color: #7347c1;
  }
}
.products__item-shop {
  color: $blue;
  margin: 0 auto 0 30px;
  &::before {
    content: "\e82e";
  }
}

.products__slider-btn,
.bottom-products__slider-btn {
  min-height: 45px;
  width: 110px;
  background-color: #7347c1;
  border-radius: 50px;
}
.slick-btn {
  border: none;
  color: transparent;
  outline: none;
  background: transparent;
  font-size: 0px;
  position: relative;
  outline: none;
  &::before {
    content: "";
    font-family: "Linearicons-Free";
    position: absolute;
    cursor: pointer;
    transform: translate(-50%, -50%);
    top: 3px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    font-size: 14px;
    color: #fff;
  }
}

.slick-next {
  right: -65px;
  &::before {
    content: "\e876";
  }
}

.slick-prev {
  left: 25px;
  &::before {
    content: "\e875";
  }
}
// end_products

//start_all-products
.all-products {
  background-color: #f6f7fb;
}
.all-products__filter {
  a {
    position: relative;
    top: 5px;
    width: 5px;
    height: 20px;
    margin-left: 25px;
    cursor: pointer;
  }
}
.all-products__box {
  margin: 30px 0 50px;
  background-color: #fff;
  .products__item-categories {
    padding: 30px;
  }
  .products__item-category {
    padding: 5px 21px;
  }
}
.small-products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .products__autor-box {
    padding: 0 30px;
  }
  .products__item {
    margin-top: 30px;
    &-title,
    &-text {
      padding: 0 30px;
    }
    &-title {
      font-size: 20px;
    }
    &-categories {
      display: none;
    }
    &-contant {
      display: block;
    }
    &-bottom {
      padding: 23px 30px 0;
    }
    &-price {
      background-color: #e6f1fd;
      color: $blue;
    }
    &-shop {
      margin: 0 0 0 auto;
    }
    &-star {
      display: none;
    }
  }
  .products__item-images {
    display: block;
    height: 230px;
    width: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px 4px 0 0;
  }
  .products__box-shadow {
    display: none;
  }
  .products__item {
    max-width: 360px;
  }
  .products__item-content {
    padding: 30px 0 15px;
    border-radius: 0 0 4px 4px;
  }
}
.all-products__button {
  text-align: center;
  margin-top: 30px;
}
// end_all-products

// start_bottom-products
.bottom-products__inner {
  .products__item {
    margin-bottom: 0;
  }
  .products__item {
    margin-left: 14px;
    margin-right: 14px;
  }
  .slick-current {
    .products__item {
      margin-left: 0;
    }
  }
}
// end_bottom-products

// start_about-company
.about-company {
  background-color: #212225;
}
.about-company__contant {
  padding: 95px 0;
}
.about-company__inner {
  display: flex;
  justify-content: space-between;
}
.about-company__item {
  &-quantity {
    padding-top: 92px;
    padding-bottom: 15px;
    font-size: 36px;
    position: relative;
    text-align: center;
    &::before {
      content: "";
      font-family: "Linearicons-Free";
      position: absolute;
      top: 0;
      font-size: 48px;
      line-height: 50px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  &-text {
    font-size: 18px;
    color: #fff;
  }
  &-case {
    color: #feb71d;
    &::before {
      content: "\e84c";
    }
  }
  &-cloud {
    color: #58c9e9;
    &::before {
      content: "\e80b";
    }
  }
  &-smile {
    color: #77de51;
    &::before {
      content: "\e854";
    }
  }
  &-piple {
    color: #ff6a6d;
    &::before {
      content: "\e82b";
    }
  }
}
// end_about-company

// start_info-box
.info-box {
  background-color: #fff;
}
.top-title {
  text-align: center;
  margin-bottom: 30px;
  .title {
    color: #000;
    margin-bottom: 28px;
    font-size: 36px;
    span {
      color: $blue;
    }
  }
  .text {
    max-width: 700px;
    margin: 0 auto;
  }
}

.info-box__contant {
  .info__item {
    position: relative;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-top: 30px;
    .info__item-number {
      position: absolute;
      top: 0;
      left: 0;
      margin: 22px 0 0 19px;
      font-family: "MyriadPro-Regular", sans-serif;
      font-size: 48px;
      color: #5c87f8;
      opacity: 0.2;
    }
    &:hover {
      border-radius: 0;
      background-color: transparent;
      box-shadow: 0;
    }
  }
  .info__item-title {
    margin: 16px 0;
  }
  .info-title {
    padding-top: 100px;
    position: relative;
    &::before {
      content: "";
      font-family: "Linearicons-Free";
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      margin: 0 auto;
      font-size: 60px;
    }

    &.license {
      &::before {
        content: "\e822";
        color: $blue;
      }
    }
    &.magic-wand {
      &::before {
        content: "\e803";
        color: #7f4ec2;
      }
    }
    &.lock {
      &::before {
        content: "\e80f";
        color: #77de51;
      }
    }
    &.chart-bars {
      &::before {
        content: "\e843";
        color: #feb71d;
      }
    }
    &.leaf {
      &::before {
        content: "\e849";
        color: #58c9e9;
      }
    }
    &.phone {
      &::before {
        content: "\e831";
        color: #ff6a6d;
      }
    }
  }
}
// end_info-box
//start_about-us
.about-us__content {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  color: #fff;
}
.about-us__left,
.about-us__right {
  padding: 100px 0;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-us__left {
  background-image: url(../images/about_us/left-fon.jpg);
}
.about-us__right {
  background-image: url(../images/about_us/right-fon.jpg);
}
.about-us__title {
  padding-top: 150px;
  margin-bottom: 30px;
  font-size: 36px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &.laptop {
    &::before {
      background-image: url(../images/about_us/icon-2.png);
      width: 120px;
      height: 101px;
    }
  }
  &.buy {
    &::before {
      background-image: url(../images/about_us/item-1.png);
      width: 100px;
      height: 100px;
    }
  }
}
.about-us__text {
  max-width: 615px;
  margin: 0 auto;
}
.about-us__link {
  a {
    margin-top: 45px;
  }
}

//end_about-us

//start_clients
.clients {
  background-color: #fff;
}
.clients__inner {
  display: flex;
  justify-content: space-between;
}
.clients__intem {
  background-color: #fff;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  max-width: 553px;
  padding: 50px 35px;
  border-left: 2px solid $blue;
}

.clients__profil {
  display: flex;
  margin-bottom: 25px;
}
.clients__img {
  margin-right: 18px;
  img {
    width: 80px;
    height: 80px;
  }
}
.clients__box {
  margin: auto 0;
  position: relative;
  width: 100%;
  &::after {
    content: "\e83f";
    font-family: "Linearicons-Free";
    font-size: 60px;
    color: #e8e8e8;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.clients__name {
  span {
    display: block;
    color: #000;
    font-size: 20px;
  }
}
.clients__button {
  text-align: center;
  margin-top: 60px;
}
//end_clients

//start_news
.news__contant-inner {
  .products__item-contant {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
}
.news-bottom {
  font-size: 15px;
  .news_item {
    position: relative;
    padding-left: 23px;
    &::before {
      content: "";
      font-family: "Linearicons-Free";
      position: absolute;
      left: 0;
    }
    &-time {
      color: #999999;
      padding-right: 45px;
      border-right: 1px solid #ececec;
      &::before {
        content: "\e864";
        color: $blue;
      }
    }
    &-comment {
      color: #7e7e7e;
      margin-left: auto;
      margin-right: 30px;
      &::before {
        content: "\e83f";
      }
    }
    &-view {
      color: #7e7e7e;
      &::before {
        content: "\e81b";
      }
    }
  }
}
//end_news
//start_join-us
.join-us__contant {
  text-align: center;
}
.join-us__top {
  background-color: #fff;
}

.join-us__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #e8eaf3;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 5;
  }
}
.join-us__item {
  width: 40%;
  padding: 60px 0;
}
.join-us__title-left,
.join-us__title-right {
  font-size: 24px;
  color: #000;
}
.join-us__title-left {
  span {
    color: $blue;
  }
}
.join-us__title-right {
  span {
    color: #7347c1;
  }
}
.join-us__bottom {
  background: linear-gradient(left, #7221a0, #0d3ef2);
}
.join-us__box {
  color: #fff;
}

.join-us__title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 18px;
}
.join-us__text {
  font-size: 18px;
}

.join-us__button {
  &.btn-link {
    a {
      margin-top: 50px;
    }
  }
}
//end_join-us
//start_footer

.footer {
  background-color: #262b30;
}
.footer__contant {
  font-size: 15px;
}
.footer__top {
  color: #ababab;
  padding: 115px 0 120px;
  a {
    color: #ababab;
  }
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__item {
  max-width: 150px;
  width: 100%;
  &-left {
    max-width: 265px;
    a {
      line-height: 26px;
    }
  }
  &-right {
    max-width: 360px;
  }
  &-list {
    
  .footer__list{
    margin-top: 38px;
  }
  }
}
.footer__communication {
  a {
    position: relative;
    margin-bottom: 10px;
    padding-left: 28px;
    &::before {
      content: "";
      font-family: "Linearicons-Free";
      position: absolute;
      left: 0;
      font-size: 16px;
    }
  }
  .phone {
    &::before {
      content: "\e830";
    }
  }
  .post {
    &::before {
      content: "\e818";
    }
  }
  .map {
    &::before {
      content: "\e833";
    }
  }
}

.footer__text {
  margin-top: 30px;
}
.footer__text {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 28px;
} 
.footer__title {
  margin-top: 9px;
  font-size: 18px;
  color: #fff;
}
.footer-list {
  li {
    line-height: 32px;
  }
}
.footer__search {
  .search__inner-form {
    button {
      width: 110px;
      color: #fff;
    }
  }
}
.footer__icons {
  margin-top: 48px; 
  li {
    display: inline-block; 
    a {
      text-align: center;
      width: 42px;
      height: 42px;
      background-color: #395799;
      border-radius: 50%;
      position: relative;
      &::before {
        content: "";
        font-family: "icomoon";
        position: absolute;
        top: 5px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto auto;
        color: #fff;
        font-size: 16px;
      }
      &.facebook {
        &::before {
          content: "\f09a";
        }
      }
      &.twiter {
        background-color: #19b2f5;
        &::before {
          content: "\f099";
        }
      }
      &.google {
        background-color: #f05b44;
        &::before {
          content: "\f1a0";
        }
      }
      &.pinterest {
        background-color: #9c0c1c;
        &::before {
          content: "\f0d2";
        }
      }
      &.linkedin {
        background-color: #0da6be;
        &::before {
          content: "\f0e1";
        }
      }
      &.dribbble {
        background-color: #ea4c89;
        &::before {
          content: "\f17d";
        }
      }
    }
    & + li > a {
      margin-left: 13px;
    }
  }
}

.footer__bottom {
  background-color: #192027;
  text-align: center;
  padding: 40px 0;
  color: #999999;
  a {
    color: #ffffff;
  }
}
//end_footer
