@import "vars";
@import "global";
@import "fonts";

// start_header

.header__top-contant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.header__top-btn {
  width: 140px;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  margin-left: auto;
  margin-right: 30px;
  padding: 6px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  background-color: $blue;
  border-radius: 20px;
}
.header__top-icons {
  margin: 0 8px 0 4px;
  img {
    margin-left: 14px;
    padding-right: 10px;
  }
}
.header__top-profil {
  display: flex;
  padding-left: 12px;
  margin-left: 10px;
  img {
    height: 60px;
  }
  span {
    display: block;
    font-family: $ff-r;
    font-weight: 400;
  }
}
.header__top-text {
  max-width: 100px;
  margin-left: 20px;
  font-family: $ff-fg;
  font-weight: 500;
  color: $black;
}
.money {
  color: $blue;
  font-size: 15px;
  line-height: 22px;
}
.header__bottom {
  padding: 17px 0;
  background-color: #fff;
}
.header__bottom-contant {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  ul {
    display: flex;
  }
  li + li {
    padding-left: 30px;
  }
  a {
    font-size: 15px;
    line-height: 42px;
    @include f500;
    text-transform: uppercase;
    color: $black;
  }
}
.search__inner-form {
  max-width: 360px;
  position: relative;
  input {
    display: block;
    width: 100%;
    height: 46px;
    border-radius: 50px;
    border: 1px solid $border;
    font-size: 15px;
    line-height: 30px;
    padding-left: 24px;
    padding-right: 80px;
    outline: none;
    &::placeholder {
      color: $grey;
    }
    &:hover {
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    }
  }
  button {
    position: absolute;
    border: none;
    background-color: $blue;
    width: 70px;
    height: 46px;
    right: 0;
    top: 0;
    border-radius: 50px;
  }
}

// end_header
// start_search
.search__top {
  background-color: $bg-blue;
  position: relative;
}
.search__contant {
  min-height: 724px;
  text-align: center;
  padding-top: 180px;
}
.search__title,
.search__title-bold,
.search__text {
  color: #f3f3f8;
  line-height: 70px;
}
.search__title {
  font-size: 60px;
}
.search__title-bold {
  font-size: 60px;
  @include f700;
}
.search__text {
  @include f500;
  font-size: 20px;
}
.search__btn {
  a {
    color: #fff;
    font-size: 16px;
    padding: 12.5px 30px;
    margin-top: 65px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    transition: all, 0.5s;
    &:hover {
      background-color: #fff;
      color: $blue;
    }
    & + a {
      margin-left: 30px;
    }
  }
}
.search__box {
  position: relative;
  bottom: 66px;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -26px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 1080px;
    height: 135px;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -14px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 1110px;
    height: 135px;
    z-index: 3;
  }
}
.search__box-inner {
  position: relative;
  z-index: 10;
  padding: 40px;
  min-height: 135px;
  max-width: 1140px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  form {
    display: flex;
  }
  input {
    min-height: 53px;
    width: 613px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 4px 0 0 4px;
    padding: 0 28px;
    line-height: 42px;
    outline: none;
  }
  select {
    min-height: 53px;
    padding: 0 20px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 0 4px 4px 0;
    border-left: none;
    margin-right: 30px;
    color: $text;
  }
  button {
    padding: 0 65px;
    border-radius: 4px;
    background-color: $blue;
    min-height: 53px;
    border: 1px solid $blue;
    outline: none;
  }
}

// end_search

// start_info
.info {
  background-color: #fff;
}
.info__content {
  padding: 51px 0 120px;
}
.info__inner {
  display: flex;
  justify-content: space-between;
}
.info__item {
  text-align: center;
  max-width: 360px;
  padding: 40px 30px;
  &-images {
    img {
      display: inline-block;
      min-height: 120px;
    }
  }
  &-title {
    font-size: 24px;
    color: #010101;
    margin: 30px 0;
  }
  &-text {
    margin-bottom: 10px;
  }
  &:hover {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  }
}
// end_info

// start_products
.products {
}
.products__content {
  padding: 120px 0;
}
.products__top {
  padding: 40px 30px 42px;
  background-color: #fff;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.products__title {
  font-size: 30px;
  color: #000;
}
.products__slider-btn {
}
.products__slider {
}
.products__inner {
} 
.products__item-contant{
  display: flex;
}
.products__item-img {
  img {
    // max-height: 450px;
    height: 100%;
    max-width: 555px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.products__item-content {
  background-color: #fff;
  padding: 50px 50px 25px;
}
.products__item-title {
  font-size: 24px;
  @include f500;
  margin-bottom: 15px;
  color: #000;
}
.products__autor-box {
  margin-bottom: 35px;
  display: block;
}
.products__autor-box {
  display: flex;
}
.products__autor,
.products__cms {
  display: flex;
  align-items: center;
  max-width: 245px;
}
.products__autor {
  font-size: 15px;
  span {
    margin-left: 9px;
  }
}
.products__avatar,
.products__cms-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.products__avatar {
  height: 30px;
  min-width: 30px;
}
.products__cms {
  color: #7347c1;
  span {
    margin-left: 9px;
  }
}
.products__cms-img {
  height: 16px;
  min-width: 16px;
  margin-left: 20px;
}
.products__item-text {
  margin-bottom: 30px;
}
.products__item-categories {
  a + a {
    margin-left: 7px;
  }
  padding-bottom: 44px;
  margin-bottom: 23px;
  border-bottom: 1px solid #ececec;
}
.products__item-category {
  padding: 0 14px;
  color: #868c96;
  font-size: 15px;
  background-color: #f1f3f6;
  border-radius: 25px;
}
.products__item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products__item-price {
  font-size: 15px;
  @include f500;
  color: #fff;
  padding: 0 18px;
  margin-right: 19px;
  background-color: $blue;
  border-radius: 25px;
}
.products__item-like,
.products__item-shop {
  padding-left: 26px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 14px;
    left: 0;
    top: 8px;

    background-repeat: no-repeat;
    background-position: center;
  }
}
.products__item-like {
  &::before {
    background-image: url(../images/products/heart.png);
  }
}
.products__item-shop {
  color: $blue;
  margin: 0 auto 0 30px;
  &::before {
    background-image: url(../images/products/cart.png);
  }
}

.products__slider-btn{
  min-height: 45px;
  width: 110px;
  // padding: 15px 25px;
  background-color: #7347c1;
  border-radius: 50px;
}
.slick-btn {
  // position: absolute;
  // top: 45%;
  // z-index: 3;
  // height: auto;
  // width: auto;
  cursor: pointer;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: 7px;
    height: 15px;
    // opacity: 0.9;
  }
}

.slick-next {
  // right: 45px;
  &::before {
    background-image: url(../images/products/next.png);
  }
}

.slick-prev {
  // left: 45px;
  &::before {
    background-image: url(../images/products/previous.png);
  }
}

.products__item-star {
}
.rate-star {
}

// end_products
